{% extends 'header.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.7.0/parsley.min.js"></script>
<!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1></h1>
          </div>
          <div class="section-body">
            <div class="row">

                <form method="post" name="f1" action="/facility_insert/" data-parsley-validate="">
                    {% csrf_token %}

              <div class="col- col-md- col-lg-">
                <div class="card">
                  <div class="card-header">
                    <h4>Input Text</h4>
                  </div>
                    <div class="card-body">
                      <div class="form-group">
                        <label>Facility Name</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-area_name">
                                 <i class="fas  fa-area_name"></i>
                                </div>
                            </div>
                            <input type="text" name="facility_name" class="form-control area_name" data-parsley-required="true" data-parsley-required-message="This field is required">
                        </div>
                    </div>
                      <div class="form-group">
                        <label>Description</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-pincode">
                                 <i class="fas  fa-pincode"></i>
                              </div>
                            </div>
                            <input type="text" name="description" class="form-control pincode" data-parsley-required="true" data-parsley-required-message="This field is required">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-11 col-md-4 col-lg-4"></label>
                      <div class="col-sm-12 col-md-7">
                        <tr>
                          <td><input  type="submit" value="insert"></td>
                        </tr>

                      </div>
                    </div>

                      </div>
                    </div>
                    </div>
                </form>
            </div>
          </div>
        </section>
      </div>
{% endblock %}
