{% extends 'client_header.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <!-- content -->
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                        <div class="well-box">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="login-box">
                                        <div class="login-header">
                                            <h3>Login Your Account</h3>
                                            <p>Just enter your email address and password to login in your account.</p>
                                        </div>
                                        <div class="login-form">
                                            <form method="POST" action="/pgowner/pass_reset/" class="needs-validation" novalidate="">
                                               {% csrf_token %}

                                                <div class="form-group">
                                                    <label for="otp">OTP</label>
                                                    <input type="otp" class="form-control" id="email" name="otp" placeholder="Email" required="">
                                                </div>

                                                <div class="form-group">
                                                    <label for="newpassword">New Password</label>
                                                    <input type="newpassword" class="form-control" id="newpassword" name="passoword" placeholder="Password" required="">
                                                </div>

                                                <div class="form-group">
                                                    <label for="confirmpassword">Confirm Password</label>
                                                    <input type="confirmpassword" class="form-control" id="confirmpassword" name="passoword" placeholder="Password" required="">
                                                </div>

                                                <button type="submit" class="btn btn-default btn-block btn-lg">Log in</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                    <div class="social-login-box">
                                        <div class="login-header">
                                              <h3>Login via Social Accounts</h3>
                                    <p>Use your social account for login.</p>
                                        </div>
                                        <div class="social-login">
                                            <a href="#" class="btn facebook-btn"><span class="social-icon"><i class="fa fa-facebook"></i></span> Sign in with Facebook</a>

                                             <a href="#" class="btn twitter-btn"><span class="social-icon"><i class="fa fa-twitter"></i></span> Sign in with Twitter</a>

                                             <a href="#" class="btn google-btn"><span class="social-icon"><i class="fa fa-google"></i></span> Sign in with Google </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
